<div class="container">

<h1><i class="fa fa-camera-retro"></i>  PhotoBomb</h1>
<h3>Share photos. Share inspiration.</h3>

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.email_field :email, :class => 'email' %><br/>
  <%= f.label :email %>
</div>

<p class="wrong-email">Must be a valid email</p>
<p class="right-email">Good!</p>

  <div>
  <%= f.text_field :username, :class => 'username' %><br />
  <%= f.label :username %>
</div>

<p class="wrong-username">Username must be at least 3 characters.</p>
<p class="right-username">Good!</p>

  <div>
  <%= f.date_field :birthday, :class => 'birthday' %><br />
  <%= f.label :birthday %>
</div>


  <div>
  <%= f.password_field :password, :class => 'password' %><br />
  <%= f.label :password %>
</div>

<p class="wrong-password">Password must be at least 8 characters.</p>
<p class="right-password">Good!</p>

  <div>
  <%= f.password_field :password_confirmation, :class => 'password_confirmation' %><br />
  <%= f.label :password_confirmation %>
</div>

<p class="wrong-confirmation">Must match password.</p>
<p class="right-confirmation">Good!</p>

  <div class="submit"><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
